@import 'utility';
$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  height: 100vh;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  text-align: center;
}

.cellContainer {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  width: 300px;
  height: 300px;
}

.cell {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}

.GameBoard {
  display: flex;
  justify-content: center;

  tbody {
    border-spacing: 1;
    height: 200px;
    width: 200px;
    border: 1px solid red;
    background-color: red;

    td {
      height: 16px;
      width: 16px;
      border: 1px solid black;
      text-align: center;
      line-height: 16px;

      &.unrevealed {
        background-color: green;
      }

      &.empty,
      &.numbered {
        background-color: teal;
      }

      &.bomb {
        background-color: gray;
      }

      &.flagged {
        background-color: lightgreen;
      }

      &.flagbomb {
        background-color: aqua;
      }
    }
  }
}
