@import 'utility';
$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-height: 100vh;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  text-align: center;
}

table {
  border: thick solid red;

  td {
    height: 16px;
    width: 16px;
    border: 1px solid black;
    text-align: center;
    line-height: 16px;

    &.unrevealed {
      background-color: green;
    }

    &.empty,
    &.numbered {
      background-color: teal;
    }

    &.bomb {
      background-color: gray;
    }

    &.flagged {
      background-color: lightgreen;
    }

    &.flagged-bomb {
      background-color: aqua;
    }

    &.numbered-1 {
      background-color: white;

      &::before {
        content: '1';
        background-color: white;
      }
    }

    &.numbered-2 {
      background-color: white;

      &::before {
        content: '2';
        background-color: white;
      }
    }

    &.numbered-3 {
      background-color: white;

      &::before {
        content: '3';
        background-color: white;
      }
    }
  }
}
